.idea
.classpath
.project

./game-of-three-api/.classpath
./game-of-three-api/.project
./game-of-three-api/target

./game-of-three-brain/.classpath
./game-of-three-brain/.project
./game-of-three-brain/target

./game-of-three-domain/.classpath
./game-of-three-domain/.project
./game-of-three-domain/target

./game-of-three-player/.classpath
./game-of-three-player/.project
./game-of-three-player/target

./game-of-three-rules/.classpath
./game-of-three-rules/.project
./game-of-three-rules/target

